# SPDX-FileCopyrightText: 2026 InOrbit, Inc.
#
# SPDX-License-Identifier: MIT

# FLOWCore Connection
# All values prefixed with INORBIT_FLOWCORE_ will be used as defaults for connector_config
# setting values
INORBIT_FLOWCORE_FLEET_HOST=192.168.1.50
INORBIT_FLOWCORE_FLEET_PORT=80
INORBIT_FLOWCORE_FLEET_USERNAME=distributor
INORBIT_FLOWCORE_FLEET_PASSWORD=your-fleet-password

# InOrbit Connection
INORBIT_API_KEY=your-inorbit-api-key

# For local InOrbit instances, use:
# INORBIT_API_URL=http://localdev.com:3000/cloud_sdk_robot_config
# INORBIT_USE_SSL=false

# General Settings
LOCATION_TZ=America/Los_Angeles
LOG_LEVEL=INFO
